# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
# Arquivo que armazena as chaves de API para uso local.
# NÃO DEVE ser commitado para o Git.
.env

# typescript
*.tsbuildinfo

# Adicione esta seção para proteger arquivos com credenciais
# Arquivos que contêm chaves de API, segredos e configurações sensíveis